extends ../layout

block headScripts
  script(src="/angular/index.js")
  script(src="/stylesheets/color.css")

block content
  h1= title
  
  .container-fluid
    .row
      div(class="col-md-4 col-md-offset-4")
        div(class="login-panel panel panel-default")
          div(class="panel-heading")
            h3(class="panel-title") Please Log In to Tonight
          div(class="panel-body")
            form(name="form" role="form" method="post" action="query/login" novalidation)
              fieldset
                div(class="form-group")
                  input(class="form-control" placeholder="E-mail"
                  name="email" type="email" autofocus required)
                div(class="form-group")
                  input(class="form-control" placeholder="Password"
                  name="password" type="password" value required)
                input(class="btn btn-lg btn-info" type="submit" value="Log In")
                a.btn.btn-lg.btn-info.pull-right(href="/register") Register
                div(class="checkbox")
                  label
                    input(name="remember" type="checkbox" 
                    value="Remember Me!")
                    p Remember Me!
                    p.text-danger= error

        

           
       